// Specific CSS for your home-page

.scroll-container {
  position: relative;
	width: 100%;
	p {
		// position: absolute;
		text-align: center;
		// left: 31%;
		// bottom: -85px;
		opacity: 0.8;
		margin-bottom: 5px;
		&:hover {
			opacity: 1;
		}
	}
	a {
		// text-align: center;
		// width: 100%;
		.fa-angle-double-down {
			color: #fff;
			// text-align: center;
			font-size: xx-large;
			transform: scale(1.5,1.25);
			position: absolute;
			// bottom: -105px;
			left: 46%;
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.steps-box {
	font-size: larger;
}

html {
	scroll-behavior: smooth;
  overflow-y: scroll;
}

#search_area {
  outline: none;
  background: none;
  border: 0;
  box-shadow: none;
}
