// Specific CSS for your home-page

.scroll-container {
  position: relative;
	p {
		position: absolute;
		left: 31%;
		bottom: -85px;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
	.fa-angle-double-down {
		color: #fff;
		font-size: xx-large;
		transform: scale(1.5,1.25);
		position: absolute;
		bottom: -105px;
		left: 46%;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
}

.steps-box {
	font-size: larger;
}

html {
	scroll-behavior: smooth;
}
