<div class="list-card">
  <img src="" alt="">
  <div class="list-card-infos">
    <h2>
      <%= @space.name %>
    </h2>
    <p>
      <%= @space.description %>
    </p>
    <p>
      <%= @space.location %>
    </p>
  </div>
</div>


<%= link_to "Back" , area_spaces_path(@space.area) %>