<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="offset-sm-3 col-sm-6">
  <%= simple_form_for :search, url: spaces_path, method: :get do |f| %>
    <%= f.input :area, collection: Area.pluck(:name), placeholder: "Select an area" %>
    <%= f.input :space, placeholder: "Find a space" %>

    <%= f.submit "Search" %>
  <% end %>
</div>
