a {
  color: #004633;
}

.nav-pills .nav-link {
  border-radius: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #004633;
}



.btn-ghost {
  color: #004633;
  border: 1px solid #004633;
  padding: 5px 50px;
  border-radius: 5px;
  background: white;
  font-weight: lighter;
  transition: background 0.3s ease;
  margin: 10px auto;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-light {
  color: #B3C7B0;
  background: none;
  font-weight: lighter;
  transition: background 0.3s ease;
  margin: 5px auto;
  font-size: 40px;
  margin-left: 20px;
}

.btn-light:hover {
  text-decoration: none;
  color: #004633;
  background: none;
}

.btn-dark {
  color: #B3C7B0;
  border: 1px solid #004633;
  padding: 5px 50px;
  border-radius: 5px;
  background: #004633;
  font-weight: lighter;
  transition: background 0.3s ease;
  margin: 10px auto;
  margin-top: 10px;
  width: 100%;
  display: block;
  text-align: center;
}

.btn-dark:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-primary {
  border: none;
}

.tab-content .w-100 .btn-primary {
  border: none;
  border-radius: 5px;
}




.btn-flat {
  color: #004633;
  border: 1px solid #004633;
  padding: 5px 15px;
  border-radius: 5px;
  background: #f4f4f4;
  font-weight: lighter;
  margin: 10px auto;
  transition: background 0.3s ease;
  display: block;
  float: right;
}

.btn-flat:hover {
  background: #d6ddd3;
  color: #004633;
  opacity: 1;
  text-decoration: none;
}
