.index-text h1 {
  font-size: 30px;
  margin: 10px;
  color: #004633;
}
.index-text p {
  margin: 0px auto 0px 18px;
  color: #004633;
}
.index-card {
  overflow: hidden;
  background: #B7C6B2;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  height: 230px;
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  position: relative;
}
.index-card > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.index-card h2 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  color: #004633;
  justify-content: center;
  padding-top: 8px;
}
.index-card h2:hover {
  color: gray;
}
.card-link {
  text-decoration: none;
}
.index-card p {
  font-size: 8px;
  opacity: .7;
  margin: 0;
  color: black;
}
.index-card .index-card-infos{
  padding: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.tab-card{
  // overflow: hidden;
  // background: rgba(183, 198, 178, 0.5);
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  height: 100%;
  width: 90%;
  margin: 30px auto;
  // border-radius: 5px;
}

.index-card-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  a {
    position: relative;
    .fa-heart {
      position: absolute;
      left: -34px;
      bottom: -103px;
    }
  }
}

.fa-heart {
  color: #004633;
  font-size: x-large;
}

.img-wrapper {
  position: relative;
  margin-bottom: 10px;
  .fa-heart {
    position: absolute;
    bottom: 15px;
    z-index: 2;
    right: 15px;
    color: white;
    font-size: xx-large;
  }
}

.review-card-container {
  background: rgba(183, 198, 178, 0.5);
  width: 100%;
  margin: 10px auto;
  padding: 8px;
  border-radius: 8px;
  h6 {
    margin-bottom: 0;
  }
}

.review-card {
  color: #004633;
  width: 350px;
  margin: 10px;
  font-size: smaller;
}

.user-card-favorite {
  overflow: hidden;
  height: 80px;
  width: 380px;
  background: #B7C6B2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 12px auto 10px;
  img {
    height: 100%;
    width: 150px;
    object-fit: cover;
  }
  .user-card-infos {
    padding: 16px;
  }
}

.user-card{
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 380px;
  background: #B7C6B2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: space-between;
  border-radius: 5px;
  margin: 50px auto 10px;
}
.user-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.user-card p {
  font-size: 16px;
  margin: 0;
  color: #004633;
}
.user-card .user-card-infos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#top-info {
  font-size: 20px;
}

.calendar {
  padding-right: 40px;
}

.user-card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-card-objects {
  display: flex;
  padding: 10px;
  padding-top: 0px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.plan-actions {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 13px;
}

// .br-theme-css-stars .br-widget a:after {
//   color: white !important;
//   border-radius: 1px solid #004633 !important;
// }

.br-theme-css-stars .br-widget a.br-selected:after {
  color: #004633 !important;
  border-radius: 1px solid #004633 !important;
}
