.list-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  // background-image: asset-url('logo.png');
  // background-size: cover;
  height: 230px;
  width: 350px;
  margin: 100px auto;
  border-radius: 5px;
}

.list-card > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.list-card h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.list-card p {
  font-size: 10px;
  opacity: .7;
  margin: 0;
}

.list-card .list-card-infos{
  padding: 15px;
  justify-content: space-between;
  aligh-items: flex-end;
  position: relative;
}